.Card {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    border-radius: 12px;
}

.card-title {
    font-size: 22pt;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: solid 1px black;
    box-shadow: 0px 6px 8px rgba(31, 31, 31, 0.5);
    border-radius: 12px;
}

.card-img-container {
    width: 100%;
    height: 190px; /* Set your desired height for the card */
    overflow: hidden;
    position: relative;
    padding-top: 10px;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Maintain aspect ratio and cover the container */
}

.card-desc {
    margin-bottom: 3%;
}

.card-btn {
    border: solid 1px rgb(79, 126, 79);
    background-color: rgb(79,126,79);
    font-weight: bold;
    padding: 2%;
    color: rgb(133, 216, 117);
}
