#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Roboto Mono', serif;
  background: linear-gradient(to bottom, #3b6144, #000000);
}


body {
  background: linear-gradient(to bottom, #3b6144, #000000);
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.Board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.Card {
  box-shadow: 0 0 5px rgba(156, 156, 156, 0.397);
  background-color: back;
  max-width: 25%;
  padding: 1%;
  margin: 1%;
}

.card-img{
  padding-bottom: 2%;
}

.card-desc {
  padding-bottom: 2% ;
}

.head-wrapper {
  background-color: #6ea37c;
  height: 150px;
  padding: 1%;
  color: rgb(35, 71, 62);
  border-radius: 100px;
}